<!-- index.html -->
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serial Code Giriş Formu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>SONSUZ AŞKI DOĞRULAMA</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('verify') }}" method="post">
            <label for="serial">Aşk kodunu giriniz</label>
            <input type="text" id="serial" name="serial" required>
            <button type="submit">Gönder</button>
        </form>
    </div>
</body>
</html>
